<!DOCTYPE html>
<html ng-app="peopleAppModule">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My ASP.NET Application</title>

    <base href="/AngularApp/Views/" />

    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/modernizr-2.6.2.js"></script>


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p style="color: white;font-size: 17px;margin: 12px 0 0 0;">People App</p>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
   
        <div class="row">
            <br />
            <div class="col-md-4 col-md-offset-4">
                <a href="create-people" class="btn btn-success">Create People</a>
                <!--<a href="people-list" class="btn btn-primary">View Peoples</a>-->
                <a href="people-search" class="btn btn-warning">Search People</a>
            </div>

        </div>

           


            <ng-view></ng-view>



   

        <hr />
        <footer>
            <p>&copy;  My ASP.NET Application</p>
        </footer>
    </div>

    <script src="../../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../../Scripts/angular.min.js"></script>
    <script src="../../Scripts/angular-route.min.js"></script>

    <script src="../../Scripts/AngularApp/appRouting.js"></script>
    <script src="../../Scripts/AngularApp/createPeopleController.js"></script>
    <script src="../../Scripts/AngularApp/listPeopleController.js"></script>
    <script src="../../Scripts/AngularApp/searchPeopleController.js"></script>

    <script src="../../Scripts/bootstrap.js"></script>

    
   
</body>
</html>
